header {
  padding: 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 3px 3px 5px rgba(188, 188, 188, 0.2);
  background: #fff;
  z-index: 100;
  nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    position: relative;
    .nav__items {
      display: flex;
      align-items: center;
      gap: 32px;
      transition: 0.3s linear;
      .nav__link {
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        color: #394149;
        &.active {
          color: red;
        }
      }
      .nav__btn {
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 17.04px;
        text-align: left;
        color: #f58a07;
        background: #f58a072c;
        padding: 10px 15px;
        border-radius: 31px;
      }
    }

    .menu {
      display: none;
      font-size: 45px;
    }
  }
  @media only screen and (max-width: 770px) {
    .container {
      padding: 0;
    }
    nav {
      .logo {
        padding-left: 20px;
      }
      .nav__items {
        padding: 20px 0px;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        z-index: 1;
        top: -700px;
        opacity: 0.92;

        &.show {
          top: 55px;
        }
      }
      .menu {
        display: block;
        padding-right: 20px;
      }
    }
  }
}
