main {
  .hero {
    padding: 96px 0;
  }
  .product {
    padding: 96px 0;
    .content {
      h1 {
        font-family: sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -0.03em;
        text-align: left;
        color: #0d1317;
      }
    }
  }

  @media only screen and (max-width: 999px) {
    .product {
      .content {
        h1 {
          font-size: 36px;
        }
      }
    }
  }
}
