.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
  .card {
    .hero__img {
      max-width: 616px;
      width: 100%;
    }
    h1 {
      max-width: 576px;
      //styleName: H1 Heading;
      font-family: sans-serif;
      font-size: 64px;
      font-weight: 600;
      line-height: 72px;
      letter-spacing: -0.03em;
      text-align: left;
      color: #1d3444;
    }
    p {
      max-width: 576px;
      font-family: sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
      color: #5b5b5b;
      padding: 12px 0 32px;
    }
  }
  @media only screen and (max-width: 999px) {
    .card {
      h1 {
        font-size: 40px;
        line-height: 48px;
      }
    }
  }
}
