.product__cards {
  padding: 64px 0 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  .card {
    border-radius: 20px;
    overflow: hidden;
    max-width: 400px;
    background: #fff;
    transition: 0.2s;
    .card__content {
      padding: 42px;
      h2 {
        height: 72px;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: -0.03em;
        text-align: left;
        color: #0d1317;
      }
      p {
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        color: #5b5b5b;
        padding: 16px 0 24px;
      }
      a {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 17.04px;
        color: #f58a07;
        transition: 0.2s;
        &:hover {
          color: #af6409;
        }
      }
    }
    &:hover {
      box-shadow: 3px 3px 5px rgba(74, 74, 74, 0.2);
    }
  }
}
